# dependencies
node_modules/
.pnp
.pnp.js

# env files - never commit these
.env
.env.local
.env.production

# next.js build output
frontend/.next/
frontend/out/

# misc
.DS_Store
*.pem
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*

# typescript
*.tsbuildinfo

# vercel
.vercel

# editor
.vscode/